{% extends 'base.html.twig' %}

{% block title %}Home Blog{% endblock %}

{% block body %}
     
    {{ include('post/head_post.html.twig') }} 
    {{ include('post/grid_post.html.twig',  {posts : posts}) }} 

    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </nav>
{% endblock %}
